# System files
.DS_Store

# Python
__pycache__/
*.pyc

# Node.js
node_modules/

# Log files
*.log
logs/

# Environment and secrets
.env
key.txt

# User data
//frontend/data/users.json
frontend/data/verification_codes.json